#img{
    width: auto;
    height: fit-content;
    /* border: 1px solid; */
    display: flex;
    justify-content: space-around;
}

#img a img{
    width: 100%;
}

a{
    width: 45%;
}

h1{
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
}